.App {
  cursor: default;
  user-select: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.transition {
  transition: all .2s ease-in-out;
}

.hover\:scale:hover {
  transform: scale(1.01);
}
